<!doctype html>
<html>
    <head>
        <link rel="stylesheet" href="https://cdn.rawgit.com/kimeiga/bahunya/css/bahunya-0.1.3.css" />
        <title>Thank you!</title>
        <script>
            if (window.history.replaceState) {
                window.history.replaceState(null, null, window.location.href);
            }
        </script>
    </head>
    <body>
        <center>
            <img src="//gui.formrocket.me/connected.svg" width="30%" style="margin-top: 5%" />
            <h1>Thank you!</h1>
            <p><%= req.query.message ? req.query.message.replace(/&/g, "&amp;")
                .replace(/</g, "&lt;")
                .replace(/>/g, "&gt;")
                .replace(/"/g, "&quot;")
                .replace(/'/g, "&#039;") : 'This form has been successfully submitted. You may exit this page now.' %></p>
                <a href="https://www.formrocket.me/?from=fr_ondone"><button>Create your own</button></a>
        </center>
        
    </body>
</html>


